@model  P0006.Models.ViewModels.TipoDoc.AddTipDocViewModels
@{
    ViewBag.Title = "Agregar Tipo Documento";
    Layout = "~/Views/Shared/_LayoutApp.cshtml";
}

@* Enlazar archivo CSS *@


<link href="~/Content/form-style.css" rel="stylesheet" />

<div class="form-page">
    <div class="form-container">
        <h2>Agregar Tipo Documento</h2>

        @using (Html.BeginForm("AddTipDoc", "TipDoc", FormMethod.Post, new { role = "form", @class = "modern-form" }))
        {
            <div class="form-group">
                @Html.LabelFor(l => l.TIPDOC)
                @Html.TextBoxFor(t => t.TIPDOC, new { @class = "form-control" })
                @Html.ValidationMessage("TIPDOC", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(l => l.DESCRIPCION)
                @Html.TextBoxFor(t => t.DESCRIPCION, new { @class = "form-control" })
                @Html.ValidationMessage("DESCRIPCION", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(l => l.ORIGEN)
                @Html.TextBoxFor(t => t.ORIGEN, new { @class = "form-control" })
                @Html.ValidationMessage("ORIGEN", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(l => l.CtaDebito)
                @Html.TextBoxFor(t => t.CtaDebito, new { @class = "form-control" })
                @Html.ValidationMessage("CtaDebito", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(l => l.CtaCredito)
                @Html.TextBoxFor(t => t.CtaCredito, new { @class = "form-control" })
                @Html.ValidationMessage("CtaCredito", new { @class = "text-danger" })
            </div>

            <div class="button-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <input type="button" value="Volver Atrás" class="btn btn-secondary"
                       onclick="document.location.href='@Url.Content("~/TipDoc/TipDocQuery")'" />
            </div>
        }
    </div>
</div>