@model List<P0006.Models.ViewModels.TipoDoc.TipDocQuerryViewModels>
@{
    ViewBag.Title = "Consulta Tipo Documento";
    Layout = "~/Views/Shared/_LayoutApp.cshtml";
}

@* Enlazar archivo CSS *@
<link href="~/Content/form-style.css" rel="stylesheet" />

<div class="table-page">
    <div class="content-container">
        <h2>Consulta de Documentos</h2>

        <div class="button-group top-buttons">
            <input type="button" value="Nuevo" class="btn btn-primary"
                   onclick="document.location.href='@Url.Content("~/TipDoc/AddTipDoc")'" />

            <input type="button" value="Volver Atrás" class="btn btn-secondary"
                   onclick="document.location.href='@Url.Content("~/")'" />
        </div>

        <div class="table-container">
            <table class="modern-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tipo Documento</th>
                        <th>Descripción</th>
                        <th>Origen</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var doc in Model)
                    {
                        <tr>
                            <td>@doc.ID</td>
                            <td>@doc.TIPDOC</td>
                            <td>@doc.DESCRIPCION</td>
                            <td>@doc.ORIGEN</td>
                            <td>
                                <input type="button"
                                       class="btn btn-danger btn-sm"
                                       onclick="jsDelete(@doc.ID)"
                                       value="Borrar" />

                                <input type="button"
                                       class="btn btn-warning btn-sm"
                                       onclick="document.location.href = '@Url.Content("~/TipDoc/EditTipDoc/")' + @doc.ID"
                                       value="Editar" />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<script>
    function jsDelete(ID) {

        if (confirm("Estás seguro de borrar?")) {
            url = '@Url.Content("~/TipDoc/DeleteTipDoc")' + "/" + ID;

            $.post(url, function (data) {
                if (data == "1")
                {
                    document.location.href = '@Url.Content("~/TipDoc/TipDocQuery")';
                    alert("Eliminado correctamente");

                } else {
                    alert("Registro no fue borrado :)");
                }
            })
        }

    }
</script>