@model P0006.Models.ViewModels.AddUserViewModels
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_LayoutApp.cshtml";
}

@* Enlazar archivo CSS *@
<link href="~/Content/form-style.css" rel="stylesheet" />

<div class="form-page">
    <div class="form-container">
        <h2>Agregar Usuario</h2>

        @using (Html.BeginForm("Add", "User", FormMethod.Post, new { role = "form", @class = "modern-form" }))
        {
            <div class="form-group">
                @Html.LabelFor(l => l.Nombre)
                @Html.TextBoxFor(t => t.Nombre, new { @class = "form-control" })
                @Html.ValidationMessage("Nombre", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(l => l.Email)
                @Html.TextBoxFor(t => t.Email, new { @class = "form-control" })
                @Html.ValidationMessage("Email", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(l => l.Password)
                @Html.TextBoxFor(t => t.Password, new { @class = "form-control" })
                @Html.ValidationMessage("Password", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(l => l.ConfirmaPassword)
                @Html.TextBoxFor(t => t.ConfirmaPassword, new { @class = "form-control" })
                @Html.ValidationMessage("ConfirmaPassword", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(l => l.Edad)
                @Html.TextBoxFor(t => t.Edad, new { @class = "form-control" })
                @Html.ValidationMessage("Edad", new { @class = "text-danger" })
            </div>

            <div class="button-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />

                <input type="button" value="Volver Atrás" class="btn btn-secondary"
                       onclick="document.location.href='@Url.Content("~/User/Query")'" />
            </div>
        }
    </div>
</div>