@model List<P0006.Models.ViewModels.QueryViewModels>
@{
    ViewBag.Title = "Consulta Usuario";
    Layout = "~/Views/Shared/_LayoutApp.cshtml";
}

@* Enlazar archivo CSS *@
<link href="~/Content/form-style.css" rel="stylesheet" />

<div class="table-page">
    <div class="content-container">
        <h2>Consulta de Usuarios</h2>

        <div class="button-group top-buttons">
            <input type="button" value="Nuevo" class="btn btn-primary"
                   onclick="document.location.href='@Url.Content("~/User/Add")'" />
            <input type="button" value="Volver Atrás" class="btn btn-secondary"
                   onclick="document.location.href='@Url.Content("~/")'" />
        </div>

        <div class="table-container">
            <table class="modern-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Correo</th>
                        <th>Edad</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var obj in Model)
                    {
                        <tr>
                            <td>@obj.Id</td>
                            <td>@obj._Email</td>
                            <td>@obj._Edad</td>
                            <td>
                                <input type="button"
                                       class="btn btn-danger btn-sm"
                                       onclick="jsDelete(@obj.Id)"
                                       value="Borrar" />

                                <input type="button"
                                       class="btn btn-warning btn-sm"
                                       onclick="document.location.href = '@Url.Content("~/User/Edit/")' + @obj.Id"
                                       value="Editar" />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<script>
    function jsDelete(ID) {

        if (confirm("Está seguro de borrar el dato")) {
            url = '@Url.Content("~/User/Delete")' + "/" + ID;

            $.post(url, function (data) {
                if (data == 1) {
                    document.location.href = '@Url.Content("~/user/Query")';
                    alert("Eliminado correctamente");

                }
                else {
                    alert("Error al eliminar");
                }
            });
        }
    }
</script>